@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic,latin-ext,vietnamese');

/*font-family: 'Oswald', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

/*font-family: 'Source Sans Pro', sans-serif;*/

h1.title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    padding: 0 1%;
}

.models-cars {
    width: 28%;
    padding: 0 1%;
    float: left;
}

.models-cars h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 0;
}

.models-cars label {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.all-cars {
    width: 67%;
    float: left;
}

.item-car {
    display: inline-block;
    margin-bottom: 20px;
}

.item-car .image {
    width: 30%;
    background: linear-gradient(to top, #00000005 0%, #00000040 36%, #00000075 100%);
    float: left;
    height: 180px;
}

.item-car .image img {
    width: 100%;
    position: relative;
    top: 45px;
    z-index: 0;
}

.item-car .description {
    float: left;
    padding: 10px 3%;
    width: 40%;
}

.item-car .description h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #777;
    margin:0;
    font-size: 20px;
}

.item-car .description h2 span {
    font-weight: 600;
    color: #555;
}

.item-car .description table tr td {
    font-family: 'Source Sans Pro', sans-serif;
    color: #777;
    font-size: 14px;
}

.item-car .description table tr td:nth-child(2) {
    padding-left: 20px;
}

.item-car .price {
    float: left;
    width: 22%;
}

.item-car .price .old-price, .item-car .price .sale-price, .item-car .price .hot-price {
    background: #eee;
    display: inline-block;
    padding: 1px 5%;
    width: 100%;
}

.item-car .price .old-price .old-price-title, .item-car .price .sale-price .sale-price-title, .item-car .price .hot-price .hot-price-title {
    text-transform: uppercase;
    color: #777;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.item-car .price .old-price .old-price-title .num, .item-car .price .sale-price .sale-price-title .num, .item-car .price .hot-price .hot-price-title .num {
    color: #555;
    font-size: 22px;
    float: right;
    margin: 5px 0;
}

.item-car .price .old-price .old-price-title .pln, .item-car .price .sale-price .sale-price-title .pln, .item-car .price .hot-price .hot-price-title .pln {
    font-size: 10px;
    position: relative;
    display: inline-block;
    top: -10px;
}

.item-car .price .old-price .old-price-title span.title, .item-car .price .sale-price .sale-price-title span.title, .item-car .price .hot-price .hot-price-title span.title {
    margin-top: 12px;
    display: inline-block;
}

.item-car .price .hot-price {
    background: rgb(219,213,213);
}

.item-car .price .hot-price .hot-price-title {
    color: rgb(213,23,36);
    font-weight: 600;
}

.item-car .price .hot-price .hot-price-title .num {
    color: rgb(213,23,36);
}

.item-car .price .zapytaj {
    background: rgb(213,23,36);
    width: 100%;
    text-align: center;
    padding: 12px 5%;
}

.item-car .price .zapytaj a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.car-model {
    position: absolute;
    margin-left: 20px;
    z-index: 1;
}

.car-model h2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    border-left: 6px solid #d61825;
    padding-left: 9px;
}

.car-model h2 span {
    font-weight: 600;
}

.car-model h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    width: 60px;
    background: linear-gradient(45deg, transparent 5px, #d61825 0);
    padding-left: 15px;
}

.sortuj {
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding-right: 4%;
    color: #555;
}

.sortuj p {
    float: left;
}

.sortuj select {
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 20px;
    color: #555;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}









